body {
    background-color: #161616;
    color: white;
    font-family:JetBrainsMono;
    font-size: 22px;
}

/* LINKS BEGIN */

li a {
    color: rgb(194, 194, 194);
    text-decoration: none;
    display: inline-block;
    line-height: 1.5;
    letter-spacing: 0.2em;
    transition: transform 0.1s ease;
}


li a:hover {
    transform: scale(1.1);
    transition: transform 0.1s ease;
    font-weight: 200;
}

h2 a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: inline-block;
    line-height: 1.5;
    transition: transform 0.1s ease;
}

h2 a:hover {
    transform: scale(1.1);
    transition: transform 0.1s ease;
}

/***************/

ul {
    list-style-type: none;
    padding-left: 0;
}

.categories {
    font-size: 30px;
    display: flex;
    gap: 150px;
    justify-content: center;
    align-items: center;
    height: 94vh;
    font-weight: 100;
    /* overflow: visible; */
}

h2 {
    font-weight: 600;
}
